.home {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.home_image {
    width: 100%;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent); 
}